.add-course__container {
  padding: $m-size $m-size 0 $m-size;
}

.add-course__header__title {
  color: black;
}

.add-course-error {
  color: red;
  font-style: italic;
  padding: $m-size;
}

.add-course__dropdown-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 0 $l-size;
  font-size: $s-size;
}

#add-course__dept-dropdown {
  margin-bottom: $s-size;
}
