.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25rem;
  background-color: white;
  margin: 0 $l-size;
  border-radius: 6px;
}
.app-root__error-msg-wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-root__schedules-title-wrapper {
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding-top: 1.75rem;
}

.app-root__schedules-title-wrapper h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
