.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25rem;
  background-color: white;
  margin: 0 $xl-size;
  max-height: 62.5rem;
  border-radius: 6px;
}
