.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 25rem;
  background-color: white;
  margin: 0 $xl-size;
  max-height: 62.5rem;
  border-radius: 6px;
}


.app-root__schedules-title-wrapper {
  min-width: 300px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding: 1.75rem;
}

.app-root__schedules-title-wrapper h3 {
  text-align: center;
}
