.course-selector__container {
  max-width: 25rem; // 400 px
  margin: 0 auto;
}

.course-selector__courses {
  background-color: white;
  margin: 0 auto $xl-size auto;
  border: none;
  border-radius: 6px;
  padding: $s-size;
  transition: 0.3s;
}

.course-selector__courses:hover {
  box-shadow: 0px 5px 20px #999;
}

.course-selector__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

.course-selector__gen-button-wrapper {
  display: flex;
  justify-content: center;
  padding: $m-size;
}
