.course-selector__container {
  max-width: 25rem; // 400 px
  margin: 0 auto;
}

.course-selector__courses {
  background: $light-blue;
  margin: 0 auto $xl-size auto;
  border-radius: 15px;
}

.course-selector__message {
  border-bottom: 1px solid lighten($light-blue, 10%);
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

.course-selector__gen-button-wrapper {
  display: flex;
  justify-content: center;
  padding: $m-size;
}
