.header {
  background: $navy-blue;
  color: white;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}

.header__container {
  display: flex;
  max-width: 31.25rem; // 500 px
  margin: 0 auto;
  padding: 0 $m-size;
}

.header__text__wrapper {
  margin-left: $s-size;
}


// BEM block element modifier
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
