/* devices <= 1024px */
@media (max-width: 64rem) {
  .header {
    margin: 0;
  }
  .main-container, .saved-schedules__main-container,
  .login-signup-page__main-container {
    flex-direction: column;
    margin-bottom: 25rem;
    margin-left: $m-size !important;
    margin-right: $m-size !important;
  }
  .course-selector__container {
    margin: 0 auto;
  }
  .course-selector__courses {
    margin: 0;
  }
  .add-course__header__title {
    font-size: 24px;
  }
  .add-course__dropdown-wrapper {
    font-size: 1rem;
  }
  .course-detail__container, .loader__container {
    padding: 0 1rem 1rem 1rem;
    width: 100% !important;
  }
  .course-detail__header-text h3 {
    font-size: 24px;
  }
  .course-detail__header-text p {
    font-size: 1.1rem;
  }
  .sections-table {
    display: flex;
    overflow-x: scroll;
    overflow-x: auto;
  }
  .app-root__error-msg-wrapper {
    padding: 0 1rem;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: $xl-size;
  }
  .app-root__schedules-title-wrapper {
    width: 100%;
    margin-left: auto;
  }
  .schedules__container {
    padding: 0 1rem;
  }

  .login-signup-page__main-container {
    padding: $xl-size 50px;
  }

}

/* devices <= 640px */
@media (max-width: 40rem) {
  table {
    /* this will allow for overflow scrolling */
    display: block;
    width: 100% !important;
    border: none !important;
  }
  .sections-table {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-radius: .28571429rem;
  }
  .course-selector__container {
    margin: 0 auto;
  }
  .schedules__container {
    padding: 0 $s-size !important;
  }
  .add-course__header__title {
    font-size: 24px;
  }
  .add-course__dropdown-wrapper {
    font-size: 1.2rem;
  }
  .course__text {
    font-size: 1.2rem;
  }
  .login-signup-page__main-container {
    padding: $xl-size 25px;
  }

}
