.saved-schedules__main-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  margin-bottom: 25rem;
  background-color: white;
  margin: 0 $l-size;
  border-radius: 6px;
}
