.schedules__container {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: $l-size;
}

.schedules__buttons-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.arrow-buttons__wrapper {
  display: inline-block;
  margin: 0 auto;
}

.valid-schedule__counter {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.arrow-button {
  display: inline-block;
}

.calendar__top-header-divider {
  border: 1px solid red;
}

.event {
  display: block;
  top: 100px;
  background-color: #fff2bf;
  border-left: 4px solid darken(#fff2bf, 50%);
  height: 100px;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.text {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  padding: 1px 5px 1px 5px;
  word-break: break-word;
}

.title {
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  top: 2px;
  word-break: break-word;
}

.detail {
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 14px;
  position: relative;
  top: 2px;
  margin-top: 2px;
  word-break: break-word;
}
