.schedules__container {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.schedules__buttons-container {
  display: flex;
}

.arrow-buttons__wrapper {
  display: inline-block;
  margin: 0 auto;
}

.valid-schedule__counter {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.arrow-button {
  display: inline-block;
}



.calendar__top-header-divider {
  border: 1px solid red;
}

.calendar-header__row {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.time-header {
  width: 8%;
}
.calendar-header__row-title {
  color: #acaeaf;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: $m-size;
  font-weight: 300;
  line-height: 18px;
  margin-right: 6px;
  padding-left: 10px;
  width: 18%;
  text-align: left;
  border-bottom: 1px solid;
}

.weekly-cal-view__container {
  display: flex;
}

.weekly-cal-view__time-col {
  width: 8%;
}

.weekly-cal-view__monday-col, .weekly-cal-view__tuesday-col,
.weekly-cal-view__wednesday-col, .weekly-cal-view__thursday-col,
.weekly-cal-view__friday-col {
  position: relative;
  height: 100%;
  width: 18%;
  margin-right: 6px;
  margin-bottom: $xl-size;
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

.event {
  display: block;
  top: 100px;
  background-color: #fff2bf;
  border-left: 4px solid darken(#fff2bf, 50%);
  height: 100px;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}

.text {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  padding: 4px 6px 4px 6px;
  word-break: break-word;
}

.title {
  color: #a68500;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  top: 5px;
  word-break: break-word;
}

.location {
  color: #a68500;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 14px;
  margin-top: 5px;
  word-break: break-word;
}

.weekly-hour-slot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10px;
  height: 50px;
  width: 100%;
  border-top-color: rgb(229, 229, 229);
  border-top-style: solid;
  border-top-width: 1px;
  font-weight: 300;
}

.weekly-hour__30min-dotted-line {
  border-top-color: rgb(229, 229, 229);
  border-top-style: dotted;
  border-top-width: 1px;
}

.time {
  color: #667;
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  opacity: 1;
  padding-right: 5px;
  text-align: right;
}
