{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-semantic-ui-react-imports", {
        "convertMemberImports": true,
        "importType": "es",
        "addCssImports": false,
        "importMinifiedCssFiles": true,
        "addLessImports": false,
        "addDuplicateStyleImports": false
      }
    ]
  ]
}
