.cal-event {
  display: block;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.cal-event__text {
  font-weight: 500;
  line-height: 14px;
  padding: 2px 6px 2px 6px;
}

.cal-event__title {
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
}

.cal-event__detail {
  font-family: 'SFNSText', 'Helvetica Neue', sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 14px;
  position: relative;
  top: 1px;
  margin-top: 0px;
}
