.saved-schedules__main-container {
  margin-bottom: 25rem;
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 6px;
  min-height: 400px;
  height: auto;
  padding: 15px 20px 25px;
}

.saved-schedules__header-text {
  text-align: center;
}

.saved-schedules__loader-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 100px;
}

.saved-schedules__warning-msg-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  top: 160px;
}
.saved-schedules__schedules-display {

}
