// rem
html {
  font-size: 16px; // base font size
  // overflow-y: scroll;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EBEBEB;
}

h1 {

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.s-alert-box {
  border-radius: 3px;
}

.login-signup-page__main-container {
  // flex-direction: row;
  // justify-content: space-around;
  margin-bottom: 25rem;
  background-color: white;
  margin-left: $l-size;
  margin-right: $l-size;
  padding: $xl-size 100px;
  border-radius: 6px;
  min-height: 400px;
  height: auto;
}
