// Colors
$navy-blue: #0D293C;
$off-white: #A5AFD7;
$blue: #3C4251;
$light-blue: #464B5E;

// Spacing
$s-size: 0.75rem; // 12 px
$m-size: 1rem; // 16 px
$l-size: 2rem; // 32 px
$xl-size: 3rem; // 48 px
$desktop-breakpoint: 28rem;

// Calendar Heights for different break points.
$mobile-hr-slot-height: 75px;
$bigger-hr-slot-height: 60px;
$regular-hr-slot-height: 75px;
